h1 {
    color:purple; text-align: center;
}

body {
    background-color:rgb(237, 220, 243)
}

p {
    font-size:x-large; text-align: justify;

}

ul {
 border-spacing: 20px; 
}

img  {
    border-radius: 80px;

}
 
table {
    background-color: lightpink;
    border-top-color:rgb(248, 49, 82);
    border-left-color: rgb(248, 49, 82);
    border-right-color: rgb(248, 49, 82);
    border-bottom-color: rgb(248, 49, 82);
    
}

th {
    color:rgb(248, 49, 82);
}

a { 
    color:aqua;
}

a:hover {
    color:purple;
}


#botao { 
    font-size: larger;

}

